/* Importar fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VCR+OSD+Mono&display=swap');

/* Variables de Tipografías */
:root {
  --font-primary: "VCR OSD Mono", monospace;
  --font-poppins: "Poppins", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-ibm-plex: "IBM Plex Mono", monospace;
  --font-press-start: "Press Start 2P", monospace;
  --font-fira-code: "Fira Code", monospace;
  --font-inter: "Inter", sans-serif;
}

/* Reset global */
* {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  background-image: url('/img/supawork-27dbdbc9ea9241c8ab7645d6ad2cb48c.gif');
  background-position: center;
  z-index: -1;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background:
    linear-gradient(180deg,#000000 , #2d2ddeb3 ,#000000 );
  opacity: 0.7;
  z-index: -1;
}

/* Enlaces globales */
a {
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease; 
}

/* Animaciones globales */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #6366f1 }
}

/* Títulos */
.subtitle {
  font-family: var(--font-press-start);
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
  background: linear-gradient(to right,  #6366f1, #a855f7);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  color: transparent;
  margin-bottom: 2rem;
}

.title{
  font-family: var(--font-press-start);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  background: linear-gradient(to right,  #6366f1, #a855f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
  text-align: center;
}
